<html>
    <head>
        
        <!-- Angular Source Files -->
        <script type="application/javascript" src="/../bower_components/angular/angular.min.js"></script>
        
        <!-- Angular App -->
        <script type="application/ecmascript" src="epubApp.js"></script>        
    </head>
    
    <body ng-app="epubApp">
        <div ng-controller="messageCtrl">
            
            <div ng-repeat="greeting in sampleTexts">
                <button ng-click="sendMessage(greeting)"> {{ greeting }}</button>
            </div>
            
            <button ng-click="getMessages( )"> Fetch Messages </button>
            
            <!-- Table rows -->
            <div ng-repeat="message in userMessages"> 
                <p> {{ message.text }} &nbsp; {{ message.user }} &nbsp; {{}} </p>    
            </div>
            
        </div>        
    </body>
</html>